@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Default to light mode as per design system implication of white backgrounds */
  color-scheme: light; 
  color: #1E293B; /* Slate-800 */
  background-color: #F8FAFC; /* Slate-50 */
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}